{% extends 'base.html' %}
{% block title %}Leave History{% endblock %}
{% block content %}

<a href="{% url 'manager_dashboard' %}" class="btn btn-light-green shadow-sm mb-3">
    ⬅ Back to Dashboard
</a>

<div class="card shadow">
    <div class="card-header bg-dark text-white">
        <h5>📊 Leave History</h5>
    </div>

    <div class="card-body">

        {% if leaves %}
        <table class="table table-bordered text-center align-middle">
            <thead class="table-secondary">
                <tr>
                    <th>Type</th>
                    <th>Dates</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Reviewed By</th>
                    <th>Applied On</th>
                </tr>
            </thead>

            <tbody>
                {% for leave in leaves %}
                <tr>
                    <td>{{ leave.leave_type.name }}</td>

                    <td>
                        {{ leave.start_date }} <br> → <br> {{ leave.end_date }}
                    </td>

                    <td>{{ leave.reason }}</td>

                    <td>
                        {% if leave.status == 'pending' %}
                            <span class="badge bg-warning text-dark">Pending</span>
                        {% elif leave.status == 'approved' %}
                            <span class="badge bg-success">Approved</span>
                        {% else %}
                            <span class="badge bg-danger">Rejected</span>
                        {% endif %}
                    </td>

                    <td>
                        {{ leave.approved_by.username|default:"-" }}
                    </td>

                    <td>{{ leave.applied_on }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <div class="alert alert-info text-center">
            No leave history available
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}