{% extends 'base.html' %}
{% block title %}Pending Leaves{% endblock %}
{% block content %}

<a href="{% url 'manager_dashboard' %}" class="btn btn-light-green shadow-sm mb-3">
    ⬅ Back to Dashboard
</a>

<div class="card shadow">
    <div class="card-header bg-warning text-dark">
        <h5>📋 Pending Leaves</h5>
    </div>

    <div class="card-body">

        {% if leaves %}
        <table class="table table-bordered table-hover text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Type</th>
                    <th>Dates</th>
                    <th>Reason</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                {% for leave in leaves %}
                <tr>
                    <td>
                        <span class="badge bg-info text-dark">
                            {{ leave.leave_type.name }}
                        </span>
                    </td>

                    <td>
                        {{ leave.start_date }} <br> → <br> {{ leave.end_date }}
                    </td>

                    <td>{{ leave.reason }}</td>

                    <td>
                        <span class="badge bg-warning text-dark">
                            Pending
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

        {% else %}
        <div class="alert alert-warning text-center">
            No pending leaves
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}